<h1>Liste des livres</h1>
<h2><%= Book.count %> Livres</h2>
<%= paginate @books %>
<% @books.each do |book| %>
  <p><a href="/books/<%= book.id %>">
      <% if book.category %>
        <%= book.title %> (<%= book.category.name %>)
      <% else %>
        <%= book.title %>
      <% end %>
     </a></p>
<% end %>

<%= form_tag '/books', method: 'post' do %>
  <input type="text" name="title" />
  
  <select name="category_id" />
    <% @categories.each do |c|%>
    <option value="<%= c.id %>"><%= c.name %></option>
    <% end %>
  </select>
  <input type="submit" value="Ajouter le livre" />
<% end %>

